@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styles for the Search component */
.search-container {
    transition: transform 5s ease-in-out;
  }
  
  .search-open {
    transform: translateX(0%);
  }


  @font-face {
    font-family: 'GT-American-Standard';
    src: url('./assets/fonts/GT-America-Standard-Regular-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }